<article class="phantom-card phantom-card--style1">
  <span class="phantom-card__image-wrapper">
    <img class="phantom-card__image" src="https://www.fillmurray.com/353/326" alt="" />
  </span>
  <a href="#" class="phantom-card__link">
    <h2 class="phantom-card__title">Magna</h2>
    <div class="phantom-card__content">
      <p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
    </div>
  </a>
</article>
